@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x:hidden;
}
.all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100vw;
}
.loader{
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    animation-name: fadeOut;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.loader span{
    color: #ffffff;
    text-transform: uppercase;
    background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
    background-position: 0;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: shine;
    animation-duration: 10s;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
@keyframes shine{
    0%{
        background-position: 0
    }
    100%{
        background-position: 300px
    }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
.background{
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(3.jpg);
    background-position:bottom;
    background-size: cover;
    filter: brightness(0.25);
}
.header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    width: 100vw;
    height: 100vh;
}
.nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    width: 100vw;
    padding: 20px;
    background-color: rgba(0, 0, 0, 1);
    height: auto;
    z-index: 10;
    border-style: solid;
    border-color: white;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-width: 1px;
}
.navbox-left{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    width: 49vw;
}
.navbox-left a{
    margin-left: 0.5vw;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}
.navbox-left a:after {
    display:block;
    content: '';
    border-bottom: solid 2px #ffffff;  
    transform: scaleX(0);  
    transition: transform 0.25s ease-in-out;
  }
.navbox-left a:hover:after { transform: scaleX(1); }
.navbox-left a:after{  transform-origin:  0% 50%; }
.navbox-right{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    width: 49vw;
}
.navbox-right a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbox-right a:after {
    display:block;
    content: '';
    border-bottom: solid 2px #ffffff;  
    transform: scaleX(0);  
    transition: transform 0.25s ease-in-out;
  }
.navbox-right a:hover:after { transform: scaleX(1); }
.navbox-right a:after{  transform-origin:  0% 50%; }
.rest-header{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.rest-header-titlebox{
    position: absolute;
    top: 30vh;
    left: 10vw;
    border-left: 5px solid white;
}
.rest-header-titlebox span{
    margin-left: 19px;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.rest-header-titlebox-small{
    font-size: 24px;
}
.rest-header-titlebox-medium{
    font-size: 38px;
    font-weight: bold;
}
.rest-header-titlebox-big{
    border: 30px white;
    font-size: 95px;
    font-weight: bold;
}
.rest-header-socialmediabox{
    position: absolute;
    top: 80vh;
    left: 10vw;
    width: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}
.rest-header-socialmediabox img{
    width: 30px;
}
.mousescroll {
    position: absolute;
    top: 93vh;
    left: 50vw;
    width: 57px;
    animation-name: scrolljump;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
@keyframes scrolljump{
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-20px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}
.mousescroll img{
    width: 100%;
}
.about{
    width: 100vw;
    height: 1000px;
}
.nav-none{
    width: 100vw;
    height: 150px;
}
.about-content{
    background-color: #000000;
    width: 100vw;
    height: 850px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
}
.about-content-box{
    width: 80vw;
    height: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.about-content-box-left{
    width: 20vw;
    height: 650px;
    margin-left: 10vw;
    background-image: url(4.jpg);
    background-position: bottom;
    background-size: cover;
}
.about-content-box-right{
    width: 45vw;
    height: 650px;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
.about-content-box-right-up{
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: bold;
}
.about-content-box-right-down{
    width: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}